/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --color1: rgb(0, 210, 49);
    --color2: rgb(17, 46, 59);
    --color3: rgb(2, 108, 26);
    --color4: rgba(0, 210, 49, 0.4);
    --color5: rgba(17, 46, 59, 0.4);
  }
  *{
    box-sizing: border-box;
  }

  body{
    font-family: Roboto;
  }
  a{
    text-decoration: none;
  }
  li{
    list-style: none;
  }